body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    width: 100vw;
}

/* CSS Section Reservas */

#reservas {
    background-color: #2a303d;
    color: white;
    text-align: center;
    background-image:url(/recursos/expecto-patronum.png);
    background-repeat: repeat;
    background-size: 200px 200px;
    padding: 10px;
}

#reservas-h2 {
    padding-top: 0.5em;
    font-size: 50px;
    text-decoration: underline white;
}

/* #reservas-h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -35px;
    width: 20%;
    height: 5px;
    background-color: white;
    transform: translateX(-50%)
} */

#reservas-form {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
    background-color: #2a303d;
    padding: 30px;
    margin: 50px auto;
    border-radius: 20px;
    width: 60%;
}

#reservas-date {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    background: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

#reservas-personas {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
#reservas-personas label {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    align-items: flex-start;
}

#reservas-time {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

#reservas-time label {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    align-items: flex-start;
}

#reservas-alergias {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

#reservas-alergias {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    align-items: flex-start;
}

#reservas-button {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}




footer {
    width: 100vw;
}

