#nuestrosPlatos {
    background-color: #ffffff;
    background-image: url(./IMG/fondo_patron_gris.png);
    background-repeat: repeat;
    background-size: 200px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nuestrosPlatos-div {
    width: 70%;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#nuestrosPlatos-div-h2 {
    color: #ab2f2d;
    font-size: 50px;
    margin-block: 10px;
}

#nuestrosPlatos-div p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#nuestrosPlatos-div-galery {
    background-color: #272b34;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}

#nuestrosPlatos-div-galery {
    background-color: #272b34;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
}

#nuestrosPlatos-div-galery-inner {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 10px;
    animation: nuestrosPlatos-galery-slider 10s infinite linear;
}

#nuestrosPlatos-div-galery img {
    width: 25%;
    flex-shrink: 0;
    transition: transform 0.2s ease-in-out;
    object-fit: cover;
    cursor: pointer;
    border-radius: 15px;
}

@keyframes nuestrosPlatos-galery-slider {
    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-25%);
    }

    45% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    70% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-75%);
    }

    95% {
        transform: translateX(-75%);
    }

    100% {
        transform: translateX(0%);
    }
}

#nuestrosPlatos-div-galery img:hover {
    transform: scale(1.1);
}